<?xml version="1.0"?>
<configuration>							
  <appSettings>							
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />							
    <add key="PYTHONPATH" value="G:\Web\FileMaker" />							
    <add key="DJANGO_SETTINGS_MODULE" value="FileMaker.settings" />							
  </appSettings>
  <system.webServer>
    <handlers>				

        <add name="Python3.11" path="*.py" verb="*" modules="CgiModule" scriptProcessor="G:\Web\FileMaker\env\Scripts\python.exe" resourceType="File" requireAccess="Script" />	

        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\Web\FileMaker\env\Scripts\python.exe|G:\Web\FileMaker\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />		

    </handlers>							
  </system.webServer>							
</configuration>							
