<?xml version="1.0" encoding="UTF-8"?>
<configuration>							
    <appSettings>							
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />							
        <add key="PYTHONPATH" value="G:\Web\FileMaker" />							
        <add key="DJANGO_SETTINGS_MODULE" value="FileMaker.settings" />							
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="FileMaker" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\Web\FileMaker\env\Scripts\python.exe|G:\Web\FileMaker\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <directoryBrowse enabled="false" />
    </system.webServer>							
</configuration>